@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #FF6565;
    --font-family-base: "Source Sans 3",
        sans-serif;
    --spacing-unit: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
    color: var(--primary-color)

}
body{
        margin-left: auto;
        margin-right: auto;
       
      
}
header{
    width: 100%;
    height: 100vh;
   background-image: url("./images/headphones_hero_1.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 
   
  
  
   
   
}
.headerContainer{
    display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 1.7rem;
}
nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    gap: 1rem;
    
   
}

nav ul li{
    color: var(--primary-color);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
}
nav ul li:hover{
    color: var(--secondary-color);
}

.logo img, .hamburger img{
    width: 10rem;
    height: 2rem;
    cursor: pointer;
}
.hamburger img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.contentdiv{
     margin: 0 auto;
    margin-top: 15rem;
    text-align: center;
    
     display: flex;
     flex-direction: column;
     align-items: center;
    padding: 0 1rem;
    
}
.contentdiv h2{
    font-size: 2rem;
}

.herobtn{
    background-color: var(--secondary-color);
    border: none;
   height: 2rem;
    border-radius: 1.5rem;
    width: 8rem;
    margin: 2rem 0;
   
   
}
.herobtn a{
    text-decoration: none;
    font-size: 0.8rem;
}

button{
    outline: none;
}

.herpara{
   font-weight: lighter;
   max-width: 80ch;
   
}

.hamburger{
    display: none;
}

/* sm */
@media (max-width: 640px) {
 
    nav{
     display: none;
    }
    nav ul{
       
        flex-direction: column;
        margin-top: 0.5rem;
        width: 100%;
        transition: all 0.8s cubic-bezier(.15,.7,0,1);
    }
    nav ul li{
        font-size: 1rem;
        font-weight: lighter ;
        text-align: center;
        transition: all 0.8s;
    }
    .contentdiv{
        margin-top: 10rem;
        padding: 0 1rem;
    }
    .contentdiv h2{
        max-width: 20ch;
        font-size: 2rem;
    }
    .herotagline{
        max-width: 30ch;
        
    }
    .headerContainer{
        display: flex;
        flex-direction: column;
        
    }
  
    .logo{
        display: grid;
        width: 100%;
       grid-template-columns: 1fr 2fr;
       
       
    }
          .hamburger {
              display: block;
             padding-left: 0.5rem;
            transition: all 0.8s cubic-bezier(.15, .7, 0, 1);
          }
 
  

}

/* xs */
@media (max-width: 475px) {
    body {
        width: 100%;
    }
  
  
}

@media (max-width: 425px) {
    body {
        width: 100%;
    }

    header {
        height: 110vh;
    }

}

@media (max-width: 320px) {
    body {
        width: 100%;
    }

    header {
        height: 120vh;
    }

}