@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #FF6565;
    --font-family-base: "Source Sans 3",
        sans-serif;
    --spacing-unit: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);

    overflow-x: hidden;


}

body {
    margin-left: auto;
    margin-right: auto;




}

header {

    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    color: white;
    padding-bottom: 2rem;





}

.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.7rem;

}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    gap: 1rem;


}

nav ul li {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
}

nav ul li:hover {
    color: var(--secondary-color);
}

.logo img,
.hamburger img {
    width: 10rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.contentdiv {
    margin: 0 auto;
    margin-top: 15rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

}

.contentdiv h2 {
    font-size: 2rem;
}

.herobtn,
.contact-form button {
    background-color: var(--secondary-color);
    border: none;
    height: 2rem;
    border-radius: 1.5rem;
    width: 8rem;
    margin: 2rem 0;


}

.herobtn a,
.contact-form button {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
}

button {
    outline: none;
}

.herpara {
    font-weight: lighter;
    max-width: 80ch;

}

.hamburger {
    display: none;
}

.what_we_do {
    text-align: center;
    margin-top: 5rem;
    color: black;



}

.sec1para,
.sec2para {

    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.sec1para p,
.sec2para p {
    max-width: 72ch;
    margin: 1rem 0;
}

.fa-soundcloud {
    color: var(--secondary-color);
    font-size: 4rem;
}

.icon_subhead {
    display: inline-block;
    font-weight: bold;
    margin: 5px 0;

}

.icon_para {
    max-width: 30ch;
    text-align: center;
}

.sec1_card_container,
.percent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;




}

.card {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;


    animation: float 3s ease-in-out infinite;

}
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.resultscontainer {
    background-image: url("./images/headphones_hero_2.jpg");
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 3rem 0;
}

.shape,
.pentagon {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;

}

.shape img {
    width: 12rem;

}

.shapetext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.shapetext h1 {
    font-size: 3rem;
}

.our_results {
    margin-top: 5rem;
    overflow: hidden;
}

.resultscontainer {
    text-align: center;
    display: flex;
    justify-content: center;

    flex-direction: column;
    overflow: hidden;
}

.contactdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    align-items: center;

}


.contact-form input,
.contact-form textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 50vw;

    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-bottom: 1px solid var(--secondary-color);

}

input::placeholder,
textarea::placeholder {
    color: #000000;

    font-size: 1rem;


}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;

}

.contact-form button {
    margin: 0;
    font-size: 1rem;
}


.footercontainer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    background-size: cover;
    text-align: center;
    color: #ccc;
}

.footercontainer p {
    padding-bottom: 1rem;
}

.footercontent {
    padding: 3rem 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials a {

    text-decoration: none;
    color: white;
    padding: 0 0.5rem;
}

.footerlogo img {
    width: 10rem;
    height: 2rem;
}






.pentagon {
    width: 200px;
    height: 200px;
    background: var(--secondary-color);
    clip-path: polygon(50% 0%,

            100% 38%,

            82% 100%,

            18% 100%,

            0% 38%);
    transition: transform 5s ease;

}




.pentagon:hover {

    transform: rotate(1turn);


}



















/* sm */
@media (max-width: 640px) {

    nav {
        display: none;
    }

    nav ul {

        flex-direction: column;
        margin-top: 0.5rem;
        width: 100%;
        transition: all 0.8s cubic-bezier(.15, .7, 0, 1);
    }

    nav ul li {
        font-size: 1rem;
        font-weight: lighter;
        text-align: center;
        transition: all 0.8s;
    }

    .contentdiv {
        margin-top: 10rem;
        padding: 0 1rem;
    }

    .contentdiv h2 {
        max-width: 20ch;
        font-size: 2rem;
    }

    .herotagline {
        max-width: 30ch;

    }

    .headerContainer {
        display: flex;
        flex-direction: column;

    }

    .logo {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 2fr;


    }

    .hamburger {
        display: block;
        padding-left: 0.5rem;
        transition: all 0.8s cubic-bezier(.15, .7, 0, 1);
    }



}

/* xs */
@media (max-width: 475px) {
    body {
        width: 100%;
    }


}

@media (max-width: 425px) {
    body {
        width: 100%;
    }

    header {
        height: auto;
    }

    .footercontent {
        flex-direction: column;
        gap: 0.5rem 0;
    }

}

@media (max-width: 320px) {
    body {
        width: 100%;
    }



}