body{
    display: flex;
    flex-direction: column;
    background-color: #5eead4;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
}
aside{
    flex: 1;
    
}
article,main{
    overflow-y: auto;
}